
#title {
	position: fixed;
	top:10px;
	width: 100%;
	font-family: Muli;
	margin-top: 0px;
	}

p {
	font-weight: 300;
	}
#tableOfContent {
	position: fixed;
	display: inline-block;
	top:15%;
	left:2%;
	font-family: Muli;
	margin-top: 0px;
	width:400px;
	text-align: left;
	line-height: 40%
	}
#welcome {
	margin-top:50px;
}

small {
	font-weight: 300;
	}

.container {
	width:600px;
	margin: 40px auto;
	
}

