

.wind {

	text-decoration: underline;

	font-style: italic;
	font-family: 'Slackey', cursive;
	letter-spacing: 100px; 

}

.content strong {
	font-style: italic;
	line-height: 100px;
	font-family: 'Slackey', cursive;
}

.content p {
	font-size: 50px;
	text-align: right;
	background: black;
	color: white;
}