

.eye {
position: fixed;
width: 20px;
height: 10px;
left:221px;
top:300px;
background: black;
}

.thee {
	position: fixed;
width: 20px;
height: 10px;
left:40px;
top:366px;

}

.eyeeye{
		position: fixed;
width: 50px;
height: 10px;
right:202px;
top:750px;
border:  15px dotted black;
}

.content ul {
	border:  15px solid black;
}

.content li {
	border:  0.5px dotted black;
}

.content a {
	border:  0.5px solid black;
}

.content strong {
	border:  5px solid black;
}