
html,body{
	width:16500px;
}

@keyframes wind {
    0% {left:50px;}
    50% {left:60px;}
    100% {left:50px;}
}
@keyframes p {
    0% {top:340px;}
    50% {top:330px;}
    100% {top:340px;}
}


div {
	position: fixed;
	top: 300px;
	left: 50px;
	animation:wind 1s infinite;
	}

p{
	position: absolute;
	display: block;
	width: 16500px;
	top: 340px;
	left: 50px;
	letter-spacing: 20px;
	text-align: right;
	animation:p 2.5s infinite;
}