html,body {
	margin-top: -5px;
	overflow-x:hidden;
	font-family: 'Montserrat', sans-serif;
/*	height: 5000px;*/
}



.pokeball {
	background: #ccc;
	cursor: pointer;
	/*margin-left: auto;
	margin-right: auto;*/
}

.pokeball.one {
	margin-top: 100px;
	height: 50px;
	width: 100px;
	border-radius: 100px 100px 0 0;
}
.pokeball.one:before{
	position: absolute;
	content: '';
	width: 100px;
	height: 50px;
	border-bottom: 4px solid white;
}

.pokeball.one:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;
	margin: 31.5px 31.5px;
	border-radius: 50%;
	background: #ccc;
	border: 4px solid white;
	
}

.pokeball.two {
	margin-bottom: 100px;
	height: 50px;
	width: 100px;
	border-radius: 0 0 100px 100px;
}



.intro {
	position: relative;
	display: none;
	left: -180px;
	right: 0;
	width: 500px;
	border-radius: 15px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size: 18pt;
	background: white;
	opacity: 0.85;
	z-index: +6;
}

.intro:before{
	position: relative;
	content: '';
		z-index: -1;
		background: white;
		width: 2000px;
		right: 0;
		left: 0;
		margin: 0 auto;
}







@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

.hola{
	font-size: 300px;
	width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
	  animation: type 4s steps(60, end); 
	  }

/*.hi:nth-child(2){
  animation: type2 8s steps(60, end);

}
*/

.hola span{
	line-height: 20%;
	font-weight: 100;
	font-family: 'Helvetica', sans-serif;
	font-size: 280px;
  animation: blink 1s infinite;
}

.hi{
	display: none;
}

 a{
	text-decoration: none;
	color: #555;
}

 a{
	text-decoration: none;
	color: #555;
}


a:hover {
	color: #aaa;
}


.hola .letters{
	display: inline;
}

.hi .letters{
	display: inline;
}

.top{
	position: fixed;
	height: 75px;
	background: white;
	left: 0;
	width: 100%;
	border-bottom:3px solid #ccc;
	z-index: +5;
}

.themenu{
	position: absolute;
	display: inline-block;
	right:0;
	top:30px;

}
.menu {
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
	color:#444;
	margin:0 20px;
	text-align: center;
}

.font-intro{
	position: absolute;
	width: 100px;
	top:-76px;
	left:0;
    right:0;
    margin:0 auto;
}



.title {
	position: relative;
	color:#444;
	font-size: 30px;
	font-weight: 700;
	min-width: 200px;
	top: 40px;
	left: 0;
}

.content{
	margin-top: 200px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.content-a{
	margin-top: 100px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav{
	position: relative;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 768px) {

.hola{
	display: none;
}

.hi{
	display: inline-block;
}
.hi{
	font-size: 300px;
	width: 30em;
    white-space:nowrap;
    overflow:hidden;

    -webkit-animation: type 5s steps(50, end);
	  animation: type 4s steps(60, end); 
	  }

/*.hi:nth-child(2){
  animation: type2 8s steps(60, end);

}
*/

.hi span{
	line-height: 20%;
	font-weight: 100;
	font-family: 'Helvetica', sans-serif;
	font-size: 280px;
  animation: blink 1s infinite;
}
.title {
	font-size: 30px;
	font-weight: 700;
	color:#444;
	width: 100%;
	margin:25px auto;
	text-align: center;
	top: 0;
	left: 0;
	  z-index: +6;
}

.themenu{
	position: relative;

	width: 100%;
	left:-40px;
    right:0;
    margin:0 auto;
    top:-25px;
    z-index: +6;

}
.menu {
	
	font-size: 24px;
	font-weight: 400;
	color:#444;
	width: 100%;
	margin:0 auto;
	text-align: center;
	z-index: +6;
}

.top{
	position: fixed;
	margin: -15px auto;
	height: 175px;
	background: white;
	width: 100%;
	border-bottom:3px solid #ccc;
	z-index: +5;
}

.font-intro{
	position: absolute;
	width: 100px;
	height: 100px;
	top:25px;
	left:0;
    right:0;
    margin:0 auto;
}

.intro {
	position: relative;
	display: none;
	left: -100px;
	right: 0;
	width: 300px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size: 18pt;
	background: white;
	opacity: 0.85;
}

.content{
	margin-top: 200px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

	}