.table{
	position: fixed;
	top:120px;
	right: 10px;
	font-family: sans-serif;
	font-weight: 700;
	text-align: center;
}


/* pokeball animation */

.pokeball-side{
	position: relative;
	display: inline-block;
	top: -500px;
}

.pokeball-side-f{
	position: relative;
	display: inline-block;
	top: -600px;
}

.pokeball-side-i{
	position: relative;
	display: inline-block;
	top: -400px;
}
.css-side{
	position: relative;
	display: inline-block;
	left: 200px;
	top: 0;
	width: 500px;
	font-family: 'courier'

}

.content1{
	margin-top: 100px;
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	max-height: 610px;
}

.content2{
	margin-top: 100px;
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	max-height: 610px;
	background: #eee;
}


.pokeball {
	background: #ccc;
	cursor: pointer;
	/*margin-left: auto;
	margin-right: auto;*/
}

.pokeball.one {
	margin-top: 100px;
	height: 50px;
	width: 100px;
	border-radius: 100px 100px 0 0;
}
.pokeball.one:before{
	position: absolute;
	content: '';
	width: 100px;
	height: 50px;
	border-bottom: 4px solid white;
}

.pokeball.one:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;
	margin: 31.5px 31.5px;
	border-radius: 50%;
	background: #ccc;
	border: 4px solid white;
	
}

.pokeball.two {
	margin-bottom: 100px;
	height: 50px;
	width: 100px;
	border-radius: 0 0 100px 100px;
}

.letters.display {
	display: none;
}


/*eye animation*/

@keyframes eyemove {
    0%   {left: 25px}
    30%  {left: 0px}
    60%  {left: 50px}
    100% {left:25px}
}


.letter-definition {
    display: none;
}

.space{
	position: relative;
	height: 150px;
	display: inline-block;
	width: 150px;
}


/*Space for each letter.*/
.letter{
	position: relative;
	height: 180px;
	margin: 20px;
}

/*The EYE*/
.eye{
	height: 70px;
	width: 70px;
	border:10px solid black;
	border-radius: 50%;
	background: white;
}

.eye:before{
	position: absolute;
	top:25px;
	left: 25px;
	content: '';
	height: 20px;
	width: 20px;
	background: black;
	border-radius: 50%;
	animation: eyemove 5s ease-in-out infinite;
}

.eye:after{
	position: absolute;
	top:26px;
	left: 26px;
	content: '';
	height: 8px;
	width: 10px;
	background: white;
	border-radius: 50%;
	transform: rotate(-45deg);
	animation: eyemove 5s ease-in-out infinite;
}
/*letter H*/

.H {
	position: relative;
	height: 150px;
	width: 150px;
	border:10px solid black;
	border-radius: 50%;
}

.H:before {
	position: absolute;
	content: '';
	height: 75px;
	width: 150px;
	border-bottom:10px solid black;
}

.H:after{
	position: absolute;
	content: '';
	height: 180px;
	width: 10px;
	left: 70px;
	top: -15px;
	background: white;
}

.H .eye{
	position: absolute;
	top:30px;
	left:30px;
	z-index: 1;

}

/*letter O*/

.O {
	position: relative;
	height: 150px;
	width: 150px;
	border:10px solid black;
	border-radius: 50%;
	margin: 0 auto;
	left: -75px;
	top: 10px;

}

.O:before {
	position: absolute;
	content: '';
	top: 75px;
	left: -80px;
	height: 75px;
	width: 150px;
	/*background: black;*/
	border-right:10px solid black;
	/*border-right:5px solid black;*/
	/*border-radius: 50%;*/
}

.O .eye{
	position: absolute;
	top:30px;
	left:30px;
	z-index: 1;

}

/*letter D*/

/*.letter .D{
	margin-left: -35px;
}*/

.D {
	position: relative;;
	height: 150px;
	width: 150px;
	border:10px solid black;
	border-radius: 50%;
	left: -80px;
	top: 10px;
}

.D:before {
	position: absolute;
	content: '';
	top: 0;
	left: -77px;
	height: 75px;
	width: 150px;
	border-right:10px solid black;
}

.D:after{
	position: absolute;
	content: '';
	height: 170px;
	width: 85px;
	left: -12px;
	top: -10px;
	background: white;
}

.D .eye{
	position: absolute;
	top:30px;
	left:30px;
	z-index: 1;
}

/*letter N*/



.N {
	position:relative;
	height: 150px;
	width: 150px;
	margin: 0 auto;
left: -65px;
top: 10px;
	}

.N:before {
	position: absolute;
	content: '';
	height: 170px;
	width: 130px;
	border-left:10px solid black;
	border-right:10px solid black;
	transform:skew(-19deg,0);	
}

.N:after{
	position: absolute;
	content: '';
	height: 170px;
	width: 120px;
	border-right:10px solid black;
	transform:skew(26deg,0);	
	left: -50px;
}

.N .eye{
	position: absolute;
	top:45px;
	left:30px;
	z-index: 1;
	transform:none;
}




/*AAAAAAAAAAAAAAAAAAAAA*/
/*.letter .A {
	margin-left: 25px;
}*/

.A {
position: relative;
width:150px;
height: 150px;
left: -65px;
top:20px;
/*left:30px;
width:60px;
height:90px;
border:solid 10px#000000;
border-radius:50%; */
}

.A:before {
position: absolute;
transform:skew(-19deg,0);
content:'';

left:42px;
width:10px;
height:150px;
background-color:#000000;

}

.A:after{
	transform:skew(19deg,0);
position:absolute;
content:'';
left:97px;
width:10px;
height:150px;
background-color:#000000;


}

.A .eye{
	position: absolute;
	top:20px;
	left:30px;
	z-index: 1;

}




/*BBBBBBBBBBBBBBBBBB*/
.B {
height: 120px;
width: 100px;
border-bottom: 10px solid black;
left: -45px;
top:10px;
}

.B:before {
	position: absolute;
content:'';
top:80px;
left: 13px;
width: 70px;
height: 70px;
border:10px solid black;
border-radius: 50%;
background: white;

}

.B:after{
position:absolute;
content:'';
left: 15px;
height: 40px;
width: 100px;
border-bottom: 10px solid black;

}

.B .eye{
	position: absolute;
	top:0;
	left:13px;
	z-index: 1;

}


/*CCCCCCCCCCCCCCCC*/
.C {
	height: 150px;
	width: 150px;
	border: 10px solid black;
	border-radius: 50%;
	left: -70px;
}

.C:before {
	position: absolute;
	content:'';
	height: 80px;
	width: 75px;
	bottom: -10px;
	right: -10px;
	background: white;
	border-top: 10px solid black;
}

.C:after{
	position:absolute;
	content:'';
	width: 10px;
	height: 15px;
	background: black;
	left: 75px;
	bottom: -15px;
}

.C .eye{
	position: absolute;
	top:30px;
	left:30px;
	z-index: 1;
}




/*EEEEEEEEEEEEEEEEE*/

.E {
	position: relative;
	height: 150px;
	width: 150px;
	margin: 20px auto;
	left: -65px;
	top:10px;
}

.E:before {
	position: absolute;
	content:'';
	height: 150px;
	width: 75px;
	top: 0;
	right: 0;
	border-top: 10px solid black;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
	border-radius: 40px 0 0 40px;
}

.E:after{
	position:absolute;
	content:'';
	width: 145px;
	height: 80px;
	border-bottom: 10px solid black;
}

.E .eye{
	position: absolute;
	top:40px;
	left:25px;
	z-index: 1;
}



/*IIIIIIIIIIIIIII*/


.I {
	position: relative;
	height: 150px;
	width: 150px;
	left: -65px;
	top: 10px;
}

.I:before {
	position: absolute;
	content: '';
	top: 0;
	left: -5px;
	height: 180px;
	width: 75px;
	border-right:10px solid black;
}

.I .eye{
	position: absolute;
	top:45px;
	left:30px;
	z-index: 1;

}

/*PPPPPPPPPPPPPPPPP*/

.P{
	position: relative;
	height: 150px;
	width: 110px;
	margin: 0 auto;
	left: -45px;
}

.P:before{
	position: absolute;
	content: '';
	height: 130px;
	width: 10px;
	background: black;	
	left: 10px;
	top: 50px;
	
}

.P:after{
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-left:15px solid black;
	transform:skew(45deg,0);	
	left: 10px;
	top: 5px;	
}

.P .eye{
	position: absolute;
	top:10px;
	left:10px;
	z-index: 1;

}



/*JJJJJJJJJJJJJ*/

.J{
	position: relative;
	height: 150px;
	width: 125px;
	left: -40px;
	top: 10px;
}

.J:before{
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-left:15px solid black;
	transform:skew(-45deg,0);	
	right: 10px;
	top: 5px;
	
}

.J:after{
	position:absolute;
	content:'';
	bottom:-19px;
	right:65px;
	width:50px;
	height:60px;
	border-width:0 10px 10px 10px;
	border-color:#000000;
	border-style:solid;
	border-radius:0 0 75%75%;
}

.J .eye{
	position: absolute;
	top:10px;
	left:10px;
	z-index: 1;

}

/*KKKKKKKKKKKK*/
.letter .K{
	margin:auto;
}

.K {
	position: relative;
	height: 150px;
	width: 150px;
	left: -65px;
	top: 10px;
}

.K:before {
	position: absolute;
	content: '';
	top: 0;
	left: -5px;
	height: 180px;
	width: 75px;
	border-right:10px solid black;
}

.K:after {
	position: absolute;
	content: '';
	top: 55px;
	left: 120px;
	height: 60px;
	width: 60px;
	border-left:10px solid black;
	border-top:10px solid black;
	transform: rotate(-45deg);
}

.K .eye{
	position: absolute;
	top:45px;
	left:30px;
	z-index: 1;
}


/*LLLLLLLLLLLLLL*/

.L{
	position: relative;
	height: 150px;
	width: 110px;
	margin: 0 auto;
	left: -45px;
}

.L:before{
	position: absolute;
	content: '';
	height: 120px;
	width: 65px;
	left: 50px;
	top: 50px;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
	
}

.L:after{
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-left:15px solid black;
	transform:skew(45deg,0);	
	left: 10px;
	top: 5px;	
}

.L .eye{
	position: absolute;
	top:10px;
	left:10px;
	z-index: 1;

}


/*MMMMMMMMMMMMMMMMMM*/
.M {
	position:relative;
	height: 150px;
	width: 150px;
	border: 10px solid black;
	border-radius: 50%;
	background: white;
	transform: rotate(45deg);
	margin: 0 auto;
	left: -75px;
	top: 10px;
z-index: -1;
	
}

.M:before {
	position: absolute;
	content:'';
	height: 75px;
	width: 75px;
	bottom: -10px;
	right: -10px;
	background: white;
	
}

.M:after{
	
	position:absolute;
	content:'';
	width: 70px;
	height: 70px;
	border-left: 10px solid black;
	left:25px;
	top: -20px;
	transform: rotate(-45deg);
	
}

.M .eye{
	position: absolute;
	top:30px;
	left:30px;
	z-index: 1;
	transform: rotate(-45deg);
}


/*QQQQQQQQQQQQQQQQQ*/
.letter .Q{
margin: 0 auto;

}
.Q{
	position: relative;
	height: 150px;
	width: 110px;
left: -65px;
top: 5px;

}

.Q:before{
	position: absolute;
	content: '';
	height: 120px;
	width: 60px;
	border-right:15px solid black;
	transform:skew(45deg,0);	
	right: 25px;
	bottom: -5px;

	
}

.Q:after{
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-left:15px solid black;
	transform:skew(-45deg,0);	
	left: 105px;
	top: 100px;	
}

.Q .eye{
	position: absolute;
	top:10px;
	left:0;
	z-index: 1;

}




/*RRRRRRRRRRRRRRRRRRR*/


.R{
	position: relative;
	height: 150px;
	width: 150px;
	margin: 0 auto;
left: -45px;
}

.R:before{
	position: absolute;
	content: '';
	height: 130px;
	width: 10px;
	background: black;	
	left: 10px;
	top: 50px;
	
}

.R:after{
	position: absolute;
	content: '';
	height: 40px;
	width: 40px;
	border-left:15px solid black;
	transform:skew(45deg,0);	
	left: 80px;
	top: 80px;	
}

.R .eye{
	position: absolute;
	top:10px;
	left:10px;
	z-index: 1;
}

/*TTTTTTTTTTTTTTTTTTTTTTTTT*/
.letter .T {
	margin: 10px auto;

}

.T {
	position: relative;
	width: 100px;
	height:150px;
	border-top: 10px solid black;
	left: -40px;
	top: 20px;
}

.T:before {
	position: absolute;
	content: '';
	height: 60px;
	width: 45px;
	border-right: 10px solid black;
}

.T .eye{
	position: absolute;
	top:50px;
	left:5px;
	z-index: 1;
}



/*XXXXXXXXXXXXXXXXXX*/

.X {
	position: relative;
	height: 150px;
	width: 150px;
	margin: 0 auto;
left: -75px;

}

.X:before {
	position: absolute;
	content: '';
	height: 135px;
	width: 60px;
	border-right:15px solid black;
	transform:skew(45deg,0);	
	left: 20px;
	bottom: -5px;
}

.X:after {
	position: absolute;
	content: '';
	height: 135px;
	width: 60px;
	border-right:15px solid black;
	transform:skew(-45deg,0);	
	left: 20px;
	bottom: -5px;
}

.X .eye{
	position: absolute;
	top:40px;
	left:40px;
	z-index: 1;
	
}

/*WWWWWWWWWWWWWW*/
.letter .W{
	margin: 0 auto;

}
.W {
	position:relative;
	height: 150px;
	width: 150px;
	transform: rotate(-90deg);
	top: 60px;
	left: -75px;
}

.W:before {
	position: absolute;
	content:'';
	height: 150px;
	width: 55px;
	top: 0;
	right: 15px;
	border-top: 10px solid black;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
	border-radius: 50px 0 0 50px;
}

.W:after{
	position:absolute;
	content:'';
	left: 45px;
	width: 105px;
	height: 80px;
	border-bottom: 10px solid black;
}

.W .eye{
	position: absolute;
	top:40px;
	left:20px;
	z-index: 1;
	transform: rotate(90deg);
}



/*UUUUUUUUUUU*/
.U {
	position:relative;
	height: 150px;
	width: 150px;
	border: 10px solid black;
	border-radius: 50%;
	margin: 0 auto;
left: -75px;
z-index: -1;
}

.U:before {
	position: absolute;
	content:'';
	height: 95px;
	width: 170px;
	top:-20px;
	left: -10px;
	background: white;

}

.U:after{
	position:absolute;
	content:'';
	width: 10px;
	height: 85px;
	background: black;
	left: 70px;
	bottom: 0;
}

.U .eye{
	position: absolute;
	top:30px;
	left:30px;
	z-index: 1;
}


/*YYYYYYYYYYYYYYYYY*/
.letter .Y{
	margin: 0 auto;
}
.Y{
	position:relative;
	top:100px;
	left:0;
	width:10px;
	height:50px;
	background-color:#000000;
}
.Y:before{
	transform:skew(45deg,0);
	position:absolute;
	content:'';
	top:-80px;
	left:-21px;
	width:15px;
	height:80px;
	background-color:#000000;
}
.Y:after{
	transform:skew(-45deg,0);
	position:absolute;
	content:'';
	top:-80px;
	right:-21px;
	width:15px;
	height:80px;
	background-color:#000000;
}

.Y .eye{
	position: absolute;
	top:-75px;
	left:-40px;
	z-index: 1;
}


/*FFFFFFFFFFFFFFFFFF*/
.letter .F {
margin: 30px auto;

}
.F{
	position:relative;
	top:42.5px;
	left:20px;
	width:75px;
	height:110px;
	border-width:10px 0 0 10px;
	border-color:#000000;
	border-style:solid;
}

.F:before{
	position:absolute;
	content:'';
	top:55px;
	left:0px;
	width:35px;
	height:10px;
	background-color:#000000;
}

.F:after{
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	border-width:0 0 10px 10px;
	border-radius: 0 0 15px 20px;
	border-color:#000000;
	border-style:solid;
	transform:rotate(-45deg);
	top:-35px;

}

.F .eye{
	position: absolute;
	top:-50px;
	left:-50px;
	z-index: 1;
}

/*GGGGGGGGGGGGGGG*/

.G{
	position: relative;
	margin: 0 auto;
	top:-25px;
	left: -15px;
	width: 80px;
	height: 80px;
	border-bottom: 10px solid black;
	border-right: 10px solid black;
	transform:rotate(45deg);
	border-radius:0 15px 0 15px;
}

.G:before{
	position: absolute;
	content: '';
	top:70px;
	left: 90px;
	width: 80px;
	height: 80px;
	border-bottom: 10px solid black;
	border-right: 10px solid black;
	transform:rotate(90deg);
}

.G:after{
	position: absolute;
	content: '';
	top:25px;
	left: -3px;
	width: 115px;
	height: 50px;
	border-top: 10px solid black;
	border-radius: 15px 15px 0 0;
	transform:rotate(-45deg);

}

.G .eye {
	position: absolute;
	top:35px;
	left:35px;
	z-index: 1;
	transform:rotate(-45deg);
}



/*SSSSSSSSSSSSSSSS*/


.S {
	position: relative;
	height: 150px;
	width: 150px;
	margin: 0 auto;
left: -65px;
top: 30px;
	}

.S:before {
	position: absolute;
	content: '';
	top:5px;
	left: 10px;
	height: 110px;
	width: 115px;
	border-left:10px solid black;
	border-right:10px solid black;
	border-radius: 10px 15px 10px 15px;
	transform:rotate(60deg);	
}

.S:after{
	position: absolute;
	content: '';
	height: 153.5px;
	width: 120px;
	border-right:10px solid black;
	/*border-radius: 0 10px 10px 0;*/	
	top:40px;
	left: -5.7px;
	transform:rotate(-72deg);

}

.S .eye{
	position: absolute;
	top:15px;
	left:30px;
	z-index: 1;
	}




/*VVVVVVVVVVVVVVVVV*/

.V{
	position: relative;
	margin: 0 auto;
	top:-35px;
	left: -55px;
	width: 120px;
	height: 120px;
	border-bottom: 10px solid black;
	border-right: 10px solid black;
	transform:rotate(45deg);
	border-radius:0 15px 0 15px;
}


.V:before{
	position: absolute;
	content: '';
	top:45px;
	left: -10px;
	width: 170px;
	height: 50px;
	border-top: 10px solid black;
	border-radius: 15px 15px 0 0;
	transform:rotate(-45deg);

}

/*.V:after{
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-left:15px solid black;
	transform:skew(90deg,0);
	transform:rotate(-45deg);	
	left: 10px;
	top: 5px;	
}
*/

.V .eye {
	position: absolute;
	top:90px;
	left:90px;
	z-index: 1;
	transform:rotate(-45deg);
}


/*ZZZZZZZZZZZZZZZZZZZZZZ*/

.letter .Z{
margin: 20px auto;

}
.Z{
	position: relative;
	width: 150px;
	height: 150px;
	left: -65px;
	top: 15px;
}

.Z:before{
		position: absolute;
	content: '';
	top:40px;
	left: 50px;
	height: 100px;
	width: 95px;
	border-left:10px solid black;
	border-radius: 10px 15px 10px 15px;
	transform:rotate(-60deg);	
}

.Z:after{
		position: absolute;
	content: '';
	top:5px;
	left: 0px;
	height: 100px;
	width:85px;
	border-right:10px solid black;
	border-radius: 10px 15px 10px 15px;
	transform:rotate(-60deg);	
}

.Z .eye{
	position: absolute;
	top:30px;
	left: 30px;
}