html, body {
	width:2000px;
	height: 100%;

}

div {
	position: absolute;
	text-align: left;
	
}

.wind {
	position: relative;
	float:center;
	left:25%;
	width: 2000px;
	height: 50px;
	margin:10px, 10px;
	background: blue;
	text-decoration: underline;
	text-transform: inherit;
	font-style: italic;
	color: white;
}

.title{
	width: 2000px;
	height: 100px;
	top:200px;
	position: fixed;
	text-align: left;
}