*{
	font-family: 'Open Sans', sans-serif;
 
}

@keyframes nihello {
    0% {opacity: 0;}
    50% {opacity:1;}
    100% {opacity: 0;}

}
@keyframes helloni {
    0% {opacity: 1;}
    50% {opacity:0;}
    100% {opacity: 1;}
}


body { 	width:100%; 
	margin-top: -13px;
	margin-left: 0; 
    height: 100%;
    overflow-x:hidden; 

	}

#top {width:100%; margin-top: -10px;height: 5px;}




.titlelink {
    text-decoration: none;
    color: black;
}

.title {
    margin: -11px auto;
    height:75px;
    width: 850px; 
    backdrop-filter: blur(10px);
}

.logo {
    width: 80px;
    margin-left: 10px;
    margin-top: 20px;
}

.logotype {
    display: inline-block;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 2%;
    vertical-align: top;
    letter-spacing: 3.5px;
    line-height: 150%;
    font-size: 14px;
}

.csatype {
    display: inline-block;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 2%;
    vertical-align: top;
    letter-spacing: 3.5px;
    line-height: 150%;
    font-size: 14px;
}

.typeformtitle {
    font-weight: 300;
}

.content {
    width: 850px;
    margin: 0 auto;

}

#nihao {
    position: absolute;
   margin: 0 auto;
    animation: nihello ease-in-out 10s infinite 2s ;
   max-width: 850px;


}

#hello {
   position: absolute;
    margin: 0 auto;
   opacity: 0;
   animation: helloni ease-in-out 10s infinite 2s;
   z-index: -1;
   max-width: 850px;
}

.greet {
    position: relative;
    height: 12%;
        
}

.recruit {
    position: relative;
    max-width: 850px;
    top:500px;
    z-index: -1;
        
}

.recruit .QR{
    position: absolute;
    max-width: 180px;
    bottom:10px;
    right: 10px;
        
}


.register{
    display: block;
    position: relative;
    top:550px;
      
}

.register .form {
    font-weight: 600;
    position: absolute;
    top:0px;
    z-index: 1;
    color: white;
       
}


/*
.registerTitle{
    position: fixed;
    top:50px;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(5px);
   width:100px;
   height:100px;
   z-index: 1;
}
*/
@media screen and (max-width: 768px) {
.title {
	margin: -12px auto;
	height: 50px;
	width: 100%;
 background: #eeeeee;
 backdrop-filter: blur(10px);



}

.logo {
	width: 50px;
	margin-left: 5%;
	margin-top: 20px;
}

.logotype {
    display: inline-block;
    width: 130px;
    font-weight: 400;
    margin-top: 19px;
    margin-left: 10px;
    vertical-align: top;
    letter-spacing: 2px;
    line-height: 10px;
    font-size: 9.2px;
}

.csatype {
    display: inline-block;
    width: 113px;
    font-weight: 400;
    margin-top: 19px;
    margin-left: 1%;
    vertical-align: top;
    letter-spacing: 2px;
    line-height: 10px;
    font-size: 9.2px;
}

.register{
    display: block;
    position: relative;
    top:250px;
}

.register .form {
    font-weight: 600;
    position: absolute;
    top:0px;
    z-index: 1;
    color: white;
}

#nihao {
   position: absolute;
  width: 50%;
  min-width: 313px;
  animation: nihello ease-in-out 10s infinite 2s;
}
 #hello {
   position: absolute;
   width: 50%;
    opacity: 0;
    min-width: 313px;
     animation: helloni ease-in-out 10s infinite 2s;
}

.content {
    width: 100%;
    margin: 0 auto;
      
}

.greet {
    position: relative;
    width: 80%;
    left: 5%;


}
.recruit {
    position: relative;
    width: 100%;
    right: 0;
    top: 200px; 
}

.recruit .fit {
   position: relative;
   right: 0;

}


.recruit .QR{
    position: absolute;
    width: 25%;
    bottom:10px;
    right: 3%;
}

}


@media screen and (max-width: 340px) {
.title {
    margin: -12px auto;
    height: 50px;
    width: 100%;
 background: #eeeeee;
 backdrop-filter: blur(10px);



}

.logo {
    width: 50px;
    margin-left: 5%;
    margin-top: 20px;
}

.logotype {
    display: inline-block;
    width: 118px;
    font-weight: 400;
    margin-top: 19px;
    margin-left: 3%;
    vertical-align: top;
    letter-spacing: 2px;
    line-height: 10px;
    font-size: 8px;
}

.csatype {
    display: inline-block;
    width: 113px;
    font-weight: 400;
    margin-top: 19px;
    margin-left: 1%;
    vertical-align: top;
    letter-spacing: 2px;
    line-height: 10px;
    font-size: 8px;
}

.register{
    display: block;
    position: relative;
    top:150px;
}

.register .form {
    font-weight: 600;
    position: absolute;
    top:0px;
    z-index: 1;
    color: white;
}

#nihao {
   position: absolute;

width: 40%;
  min-width: 300px;

  animation: nihello ease-in-out 10s infinite 2s;
}
 #hello {
   position: absolute;
   width: 40%;
    opacity: 0;
    min-width: 300px;

     animation: helloni ease-in-out 10s infinite 2s;
}

.content {
    width: 100%;
    margin: 0 auto;
      
}

.greet {
    position: relative;
    width: 300px;
    left: 5%;
   /* overflow-x:hidden;*/

}
.recruit {
    position: relative;
    width: 100%;
    right: 0;
    top: 120px;
}

.recruit .fit {
   position: relative;
   right: 0;
   width: 95%;
}


.recruit .QR{
    position: absolute;
    width: 25%;
    bottom:10px;
    right: 3%;
}

}
